@model Andromeda.Application.Employee.Queries.EmployeeDetailVM
@{
    ViewData["Title"] = "_Profile";
}

<h3>PROFILE</h3>


<h3>@Model.Lastname , @Model.Firstname</h3>
<h5>Name</h5><br>

<h3>@Model.Role</h3>
<h5>Role</h5><br>

