@model Andromeda.Models.AccountVM
@{
    ViewData["Title"] = "ChangePassword";
}


<center>
    <div style="margin-top: 120px; height:600px; width:500px; background-color:#A8E6CF;">
        <div style="padding-top: 75px;">
            <h2>CHANGE PASSWORD</h2>
            <br>

            <form asp-action="ChangePassword" asp-controller="Account" data-ajax="true" data-ajax-method="post" data-ajax-success="OnSuccess">
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="control-label">NEW PASSWORD</label><br />
                        <input asp-for="ChangePassword.NewPassword" type="password" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">CONFIRM PASSWORD</label>
                        <input asp-for="ChangePassword.ConfirmPassword" type="password" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">ENTER CURRENT PASSWORD</label>
                        <input asp-for="ChangePassword.CurrentPassword" type="password" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <br><input type="submit" value="CHANGE" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</center>

@section Scripts {
    <script type="text/javascript">
        function OnSuccess(e) {
            console.log(e);
        }
    </script>

    <partial name="_ValidationScriptsPartial" />
}

